## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)

Bonus point: Solve this problem using pandas (instead of any other approach)

Get familiar with data
Select the columns of interest
What to do with NaN?

Make action plan
Develop the code that works with a sample

Adjust the code to work with Big data
Test big data approach on a sample

Run program with big data

(Bonus Point)

## 1) Get familiar with data

### What if we dont want to read the whole file?

Options:
1) prepare the sample
2) read_csv with nrows option

In [1]:
import pandas as pd

In [22]:
#DON'T DO THIS on the whole file!!!
b = pd.read_csv('bookings.csv.bz2',sep='^')

In [4]:
b = pd.read_csv('bookings.sample.csv.bz2',sep='^')

In [3]:
#the other option for working with sample
b = pd.read_csv('bookings.csv.bz2',sep='^',nrows=9999)

## Commands for obtaining data info:

In [6]:
b.shape

(9999, 38)

In [8]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
5250,2013-03-04 00:00:00,1V,US,2c319a7a5e2c4a4e9a00f506bd59adcf,9da8bf1716f49e7332e4ecf9718c459d,8b492d1367ef0a972cb39de92c8c1289,2013-03-04 00:00:00,2321,0,SEA,...,SEASLCCPR,NV,U,Y,2013-03-18 06:00:00,2013-03-18 12:31:14,1,2013,3,NULL
4600,2013-03-27 00:00:00,1A,BR,8bdf3c18a30498b99c8c6870b14f5016,ee7cca590ff586d7364a591667765621,331b300c639e11a6012090caa5ff7dbd,2013-03-27 00:00:00,4271,0,CDG,...,MLACDG,UW,S,Y,2013-05-16 13:20:00,2013-05-16 16:11:50,2,2013,3,RIOB221GV
7028,2013-03-04 00:00:00,1A,BE,44874cc051df0a0cdca1b6ae5b6bc88a,bebca16f2118f8d575113500f9a1b14d,21d7fcdd67c0542b49a14cf756091e68,2013-02-05 00:00:00,18857,0,BRU,...,ATLLHRBRU,LK,I,C,2013-03-07 20:45:00,2013-03-08 15:02:43,1,2013,3,NULL
7972,2013-03-25 00:00:00,1A,FR,3bf3f5c824a94e7049d3833e21ce6b67,89d2417a4cc120396aa256f5e93d1a4e,889e0c24e0b30e6c159b89a3ada4ca60,2013-02-06 00:00:00,7168,0,ORY,...,ORYSVQ,GJ,S,Y,2013-04-30 21:05:00,2013-04-30 23:33:22,4,2013,3,NULL
6880,2013-03-12 00:00:00,1A,NO,4462b991c4acae5925abafbd2c38e763,1570f22a6b5a33c9ce1b70867be9c1e0,97f5c2e65ce03164724e02d08294dec9,2013-03-12 00:00:00,10428,0,OSL,...,OSLFRAMIA,VR,V,Y,2013-04-20 06:10:00,2013-04-20 13:50:35,2,2013,3,OSLBE2268

In [10]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_columns', None)

In [11]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
580,2013-03-04 00:00:00,1V,US,d318d48807b311b42d141ba57dcaeefa,9e68758a1cf163367a5885a385dca8f2,e255debe7147ea2167d433731eb17a0d,2013-03-04 00:00:00,196,2110,YYZ,YTO,CA,DEN,DEN,US,DEN,DEN,US,YYZ,YTO,CA,DEN,DEN,US,DENYYZ,DENYTO,CAUS,1,YYZDEN,FK,W,Y,2013-03-29 08:43:00,2013-03-29 09:59:55,1,2013,3,NULL
8939,2013-03-04 00:00:00,1V,US,e42ea9ee0e1943c0eac01f4425674ffe,f0ca043ac241cbe9337587aff85fd150,d82b372c8c3109740ed9be09a2ac6bd6,2013-03-04 00:00:00,199359,0,IAD,WAS,US,DXB,DXB,AE,IAD,WAS,US,IAD,WAS,US,DXB,DXB,AE,DXBIAD,DXBWAS,AEUS,1,IADDXB,FK,V,Y,2013-03-09 18:40:00,2013-03-10 17:49:02,1,2013,3,NULL
7084,2013-03-04 00:00:00,1A,US,54a9a4fecc0dc7119aaffe82e98d071d,3561a60621de06ab1badc8ca55699ef3,7ebc8e0f74b395f529dce5193e389cd5,2013-02-25 00:00:00,27899,0,PHX,PHX,US,MNL,MNL,PH,PHX,PHX,US,MNL,MNL,PH,PHX,PHX,US,MNLPHX,MNLPHX,PHUS,1,MNLICNLAXPHX,YK,S,Y,2013-06-14 23:45:00,2013-06-15 16:44:55,2,2013,3,NYC1S21DD
9950,2013-03-22 00:00:00,1P,US,464d5fc608b9ccf0498e5cc7430f3baf,b9bbe4bb0dea2778755500361d5bc1b2,dfb12b002c928d2fe4786466983de3a0,2013-03-22 00:00:00,5157,0,SEA,SEA,US,VCE,VCE,IT,SEA,SEA,US,VCE,VCE,IT,SEA,SEA,US,SEAVCE,SEAVCE,ITUS,1,VCEJFKSEA,NV,H,Y,2013-04-04 12:30:00,2013-04-04 21:02:10,1,2013,3,NULL
7130,2013-03-13 00:00:00,1A,RU,78e9457ca39188b9e281b62829f2062b,b597fb4e3b1eff94cbbf0c5d1d0c5d54,0270ba99c18c135387c2d1ebe552d217,2013-03-12 00:00:00,31783,0,VKO,MOW,RU,MIA,MIA,US,VKO,MOW,RU,VKO,MOW,RU,MIA,MIA,US,MIAVKO,MIAMOW,RUUS,1,VKOMIA,FX,F,F,2013-05-04 12:30:00,2013-05-04 16:08:15,-2,2013,3,NULL

In [7]:
b.describe()

            duration      distance         intl          pax    year   month
count    9999.000000   9999.000000  9999.000000  9999.000000  9999.0  9999.0
mean    20209.746075    455.608861     0.596260     0.516152  2013.0     3.0
std     42243.233482   1738.891068     0.490671     1.783970     0.0     0.0
min        59.000000      0.000000     0.000000   -25.000000  2013.0     3.0
25%      3339.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      7721.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     19077.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    488131.000000  18481.000000     1.000000    25.000000  2013.0     3.0

In [13]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [15]:
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

## 2) Select the columns of interest

arr_port, pax, year

In [17]:
import pandas as pd
pd.set_option('display.max_columns', None)
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port', 'pax', 'year'])
b.head()

## 3) What to do with NaN?

in the sample everything might be ok, but we should prepare fot NaN case

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port', 'pax', 'year'])
b=b.dropna()

In [18]:
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

## 4) make action plan

1) filtrar 2013
2) group by ar_port 
3) sum pax
4) order by 
5) take top 10

In [27]:
import pandas as pd
pd.set_option('display.max_columns', None)
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port', 'pax', 'year'])
b=b.dropna()

b=b[ b['year']==2013 ][  ['arr_port', 'pax']   ]

In [28]:
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [29]:
arr_ports_gr=b.groupby('arr_port')

In [30]:
arr_ports_pax=arr_ports_gr.sum()

In [37]:
arr_ports_pax=arr_ports_gr['pax'].sum().sort_values(ascending=False)

In [38]:
type(arr_ports_pax)

pandas.core.series.Series

In [42]:
arr_ports_pax.head()

arr_port
HKG         112
LGA          95
ORD          94
JFK          92
SFO          91
Name: pax, dtype: int64

In [39]:
arr_ports_pax2=arr_ports_gr.sum().sort_values('pax',ascending=False)

In [40]:
type(arr_ports_pax2)

pandas.core.frame.DataFrame

In [43]:
arr_ports_pax2.head()

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91

## 5) Adjust the code to work with Big data

What do we have so far?

In [45]:
import pandas as pd
pd.set_option('display.max_columns', None)
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port', 'pax', 'year'])
b=b.dropna()

b=b[ b['year']==2013 ][  ['arr_port', 'pax']   ]
arr_ports=b.groupby('arr_port').sum().sort_values('pax',ascending=False)

arr_ports.head(10)

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

#### but... we have to read the whole file... and with nrows we are reading ALWAYS the first N rows...

Option for reading the file:  
    1) iterator=true and get_chunk  
    2) define chunk_size

#### 1) iterator=true and get_chunk

In [47]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',\
                 usecols=['arr_port', 'pax', 'year'], iterator=True)

In [48]:
type(bc)

pandas.io.parsers.TextFileReader

In [49]:
b=bc.get_chunk(6000)

In [50]:
type(b)

pandas.core.frame.DataFrame

In [51]:
b.shape

(6000, 3)

In [52]:
b2=bc.get_chunk(3000)

In [53]:
len(b), len(b2)

(6000, 3000)

In [54]:
b3=bc.get_chunk(3000)

In [55]:
len(b3)

999

In [56]:
b4=bc.get_chunk(1)

StopIteration:

#### 2) define chunk size

In [70]:
bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',\
                 usecols=['arr_port', 'pax', 'year'], chunksize=4000)
for i, chunk in enumerate(bc):
    print(i)
    print(chunk.head(3))

In [77]:
import pandas as pd
pd.set_option('display.max_columns', None)

bc = pd.read_csv('bookings.sample.csv.bz2',sep='^',\
                 usecols=['arr_port', 'pax', 'year'], chunksize=4000)
all_chunks=pd.DataFrame()

for i, chunk in enumerate(bc):
    print (i+1)
    b=chunk.dropna()
    b=b[ b['year']==2013 ][  ['arr_port', 'pax']   ]
    arr_ports=b.groupby('arr_port').sum().reset_index()
    all_chunks=all_chunks.append(arr_ports)
    
result=all_chunks.groupby('arr_port').sum().\
            sort_values('pax',ascending=False).reset_index()

1
2
3

In [78]:
result.head(10)

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

### Now we've got top airports

we have to install geobases
pip install GeoBases3k

In [79]:
from GeoBases import GeoBase

In [80]:
geoDict=GeoBase(data='ori_por', verbose=False)

In [81]:
type(geoDict)

GeoBases.GeoBaseModule.GeoBase

In [82]:
geoDict.keys()[:10]

['AAA', 'AAA@1', 'AAB', 'AAC', 'AAC@1', 'AAE', 'AAE@1', 'AAF', 'AAF@1', 'AAG']

In [84]:
geoDict.get('MAD')

{'__key__': 'MAD',
 '__dup__': ['MAD@1'],
 '__par__': [],
 '__lno__': 7379,
 '__gar__': [],
 'iata_code': 'MAD',
 'icao_code': 'LEMD',
 'faa_code': '',
 'is_geonames': 'Y',
 'geoname_id': '6299345',
 'valid_id': '',
 'name': 'Madrid / Barajas',
 'asciiname': 'Madrid / Barajas',
 'lat': '40.493556',
 'lng': '-3.566764',
 'fclass': 'S',
 'fcode': 'AIRP',
 'page_rank': '0.392784873731',
 'date_from': '',
 'date_until': '',
 'comment': '',
 'country_code': 'ES',
 'cc2': '',
 'country_name': 'Spain',
 'continent_name': 'Europe',
 'adm1_code': '29',
 'adm1_name_utf': 'Madrid',
 'adm1_name_ascii': 'Madrid',
 'adm2_code': 'M',
 'adm2_name_utf': 'Provincia de Madrid',
 'adm2_name_ascii': 'Provincia de Madrid',
 'adm3_code': '28079',
 'adm4_code': '',
 'population': '0',
 'elevation': '609',
 'gtopo30': '575',
 'timezone': 'Europe/Madrid',
 'gmt_offset': '1.0',
 'dst_offset': '2.0',
 'raw_offset': '1.0',
 'moddate': '2012-03-04',
 'city_code': 'MAD',
 'city_name_utf': 'Madrid',
 'city_name_ascii': 'Madrid',
 'tvl_por_list@raw': '',
 'tvl_por_list': (),
 'state_code': '',
 'location_type@raw': 'A',
 'location_type': ('A',),
 'wiki_link': 'http://en.wikipedia.org/wiki/Madrid-Barajas_Airport',
 'alt_name_section@raw': 'es|Aeropuerto de Madrid|=es|Barajas|=de|Flughafen Madrid|p',
 'alt_name_section': (('es', 'Aeropuerto de Madrid', ''),
  ('es', 'Barajas', ''),
  ('de', 'Flughafen Madrid', 'p'))}

In [85]:
geoDict.get('MAD')["name"]

'Madrid / Barajas'

In [88]:
geoDict.get('LHR')["name"]

'London Heathrow Airport'

In [100]:
result.head()

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91

In [101]:
list(result["arr_port"])[:10]

['HKG     ',
 'LGA     ',
 'ORD     ',
 'JFK     ',
 'LAX     ',
 'SFO     ',
 'MCO     ',
 'DCA     ',
 'DEN     ',
 'LHR     ']

In [102]:
result["arr_port"]=result["arr_port"].str.strip()

In [103]:
list(result["arr_port"])[:10]

['HKG', 'LGA', 'ORD', 'JFK', 'LAX', 'SFO', 'MCO', 'DCA', 'DEN', 'LHR']

In [104]:
result.head()

  arr_port  pax
0      HKG  112
1      LGA   95
2      ORD   94
3      JFK   92
4      LAX   91

In [105]:
geoDict.get(  result.arr_port[0]   )["name"]

'Hong Kong International Airport'

In [106]:
result["AirportName"]=result['arr_port'].map(lambda x: geoDict.get(x)["name"])

In [107]:
result.head()

  arr_port  pax                           AirportName
0      HKG  112       Hong Kong International Airport
1      LGA   95                    La Guardia Airport
2      ORD   94  Chicago O'Hare International Airport
3      JFK   92  John F Kennedy International Airport
4      LAX   91     Los Angeles International Airport

In [108]:
%%time
import pandas as pd
from GeoBases import GeoBase
pd.set_option('display.max_columns', None)
geoDict=GeoBase(data='ori_por', verbose=False)

bc = pd.read_csv('bookings.csv.bz2',sep='^',\
                 usecols=['arr_port', 'pax', 'year'], chunksize=1000000)
all_chunks=pd.DataFrame()

for i, chunk in enumerate(bc):
    print (i+1)
    b=chunk.dropna()
    b=b[ b['year']==2013 ][  ['arr_port', 'pax']   ]
    arr_ports=b.groupby('arr_port').sum().reset_index()
    all_chunks=all_chunks.append(arr_ports)
    
result=all_chunks.groupby('arr_port').sum().\
            sort_values('pax',ascending=False).reset_index()

result["arr_port"]=result["arr_port"].str.strip()
result["AirportName"]=result['arr_port'].map(lambda x: geoDict.get(x)["name"])

1
2
3
4
5
6
7
8
9
10
11
CPU times: user 4min 7s, sys: 2.37 s, total: 4min 10s
Wall time: 4min 6s

In [109]:
result.to_csv('top_airports.csv', sep="^", index=False)

In [110]:
!head top_airports.csv

arr_port^pax^AirportName
LHR^88809.0^London Heathrow Airport
MCO^70930.0^Orlando International Airport
LAX^70530.0^Los Angeles International Airport
LAS^69630.0^Mc Carran International Airport
JFK^66270.0^John F Kennedy International Airport
CDG^64490.0^Paris - Charles-de-Gaulle
BKK^59460.0^Suvarnabhumi
MIA^58150.0^Miami International Airport
SFO^58000.0^San Francisco International Airport