# EJERCICIO 4:

## PREPARAR LOS DATOS PARA EL PROCESADO:

In [2]:
!pwd

/home/dsc/Data/opentraveldata/python_class/Amadeus Challenge

In [3]:
%cd ../../../challenge

/home/dsc/Data/challenge

In [4]:
import pandas as pd
from datetime import datetime as dttm

import numpy as np

pd.set_option('display.max_columns', None)

In [5]:
%%time
bc=pd.read_csv('bookings.csv.bz2', sep='^', chunksize=10000, nrows=300000)
conjunto=pd.DataFrame([])

for i, cosa in enumerate(bc):
    conjunto=conjunto.append(cosa)
    cosa.drop_duplicates(inplace=True)
    
cosa.to_csv('bookings_sin_duplicados.csv', index=False)

CPU times: user 1min 2s, sys: 6.55 s, total: 1min 9s
Wall time: 52.2 s

In [6]:
%%time
bc=pd.read_csv('searches.csv.bz2', sep='^', chunksize=10000, nrows=300000)
conjunto=pd.DataFrame([])

for i, cosa in enumerate(bc):
    conjunto=conjunto.append(cosa)
    cosa.drop_duplicates(inplace=True)
    
cosa.to_csv('searches_sin_duplicados.csv', index=False)

CPU times: user 1min 7s, sys: 5.17 s, total: 1min 12s
Wall time: 57.2 s

In [107]:
import pandas as pd

pd.set_option('display.max_columns', None)

s=pd.read_csv('searches_no_dup.csv', sep='^',  usecols=['Date', 'Origin', 'Destination'], dtype='str')
b=pd.read_csv('bookings_no_dup.csv', sep='^',  usecols=['cre_date           ', 'dep_port', 'arr_port'])

In [116]:
b.rename(columns={'cre_date           ':'cre_date'}, inplace=True)

#OPCIÓN AUTOMÁTICA:

# b.columns=b.columns.str.strip()

In [117]:
b.columns

Index(['cre_date', 'dep_port', 'arr_port'], dtype='object')

In [52]:
b['dep_port']=b['dep_port'].str.strip()

In [53]:
b['arr_port']=b['arr_port'].str.strip()

In [54]:
b['cre_date']=b['cre_date'].str[:10]

In [55]:
list(b.loc[0])

['2013-02-22', 'ZRH', 'LHR']

In [56]:
s=s.dropna()
b=b.dropna()

# s[sisnull().any(axis=1)]

In [57]:
s=s.reset_index()

In [58]:
s.tail()

         index        Date Origin Destination
358998  358998  2013-12-25    LAX         TLV
358999  358999  2013-01-01    TXL         AUH
359000  359001  2013-01-01    ICT         SFO
359001  359002  2013-01-01    FRA         BGW
359002  359003  2013-10-13    VIE          HA

In [118]:
b=b.dropna()

In [119]:
b_sin_dup=b.groupby(list(b.columns)).size().reset_index()

In [120]:
b_sin_dup.rename(columns={0:'Numbooks'},inplace=True)

In [121]:
b_sin_dup.head()

              cre_date  dep_port  arr_port  Numbooks
0  2011-03-01 00:00:00  CDG       WNZ              4
1  2011-03-01 00:00:00  LIS       DKR              2
2  2011-03-26 00:00:00  MRS       HAH              2
3  2011-06-28 00:00:00  BKK       CNX              2
4  2011-06-28 00:00:00  SYD       LHR              3

In [122]:
list(b.columns)

['cre_date', 'dep_port', 'arr_port']

In [123]:
s_b=s.merge(b_sin_dup,how='left', left_on=list(s.columns)[0:3], right_on=list(b.columns))

In [114]:
for columna in s.columns:
    print(type(s[columna][0]))

<class 'str'>
<class 'str'>
<class 'str'>