# Recommender systems

## One of the most common uses of big data is to predict and suggest what users may want.  This allows Google to show you relevant ads or to suggest news in Google Now; Amazon to recommend relevant products; Netflix to recommend movies that you might like; or most recently, the famous **Weekly Dicovery** of Spotify.

## All these products are based on systems of recommendation: a information retrieval method to provide users with relevant, yet novel and diverse, information. 

## In this class we will use a pretty famous dataset based on movies ratings, 'MovieLens', to learn the basics of recommender systems. 

## Table of Contents (times are approximated)

1. [Getting and analysing some data (1.5-2 h, typically until break)](#data)
2. [Most popular movies (0.5-1 min)](#popular)
3. [Metrics for recommender systems (2-2.5h)](#metrics)

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os

<a id='data'></a>
## 1.1 Load data

We will use MovieLens dataset, which is one of the most common datasets used when implementing and testing recommender engines. This data set consists of:
* 100,000 ratings (1-5) from 943 users on 1682 movies. 
* Each user has rated at least 20 movies. 
* Simple demographic info for the users (age, gender, occupation, zip)

The data was collected through the MovieLens [website](https://movielens.org) during the seven-month period from September 19th, 
1997 through April 22nd, 1998. This data has been cleaned up - users
who had less than 20 ratings or did not have complete demographic
information were removed from this data set.

You can download the dataset [here](http://files.grouplens.org/datasets/movielens/ml-100k.zip).

Take a look at the readme file!!!

In [7]:
cd

C:\Users\Illan

In [8]:
data_root = "./Desktop/COSAS KSCHOOL/04--RECOMMENDER SYSTEMS/ml-100k/"

In [8]:
!cat {data_root}README

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [9]:
columns = ['user_id','item_id','rating','timestamp']
datafile = os.path.join(data_root, "u.data")
data = pd.read_csv(datafile, sep='\t', names=columns)
data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

### A remainder of the numpy library

*Pandas library is nothing alse than numpy under the hood (numpy with steroids, if you like). You can access the data (in matrix from) with he "values" attribute, e.g. data.values*

In [10]:
# The attribute shape provides the shape of the matrix
data.values

array([[      196,       242,         3, 881250949],
       [      186,       302,         3, 891717742],
       [       22,       377,         1, 878887116],
       ...,
       [      276,      1090,         1, 874795795],
       [       13,       225,         2, 882399156],
       [       12,       203,         3, 879959583]], dtype=int64)

In [14]:
data.values.shape

(100000, 4)

In [13]:
# Note that if we return the first column, we get a vector (of 100000 components)
data.values[:,0]

array([196, 186,  22, ..., 276,  13,  12], dtype=int64)

In [15]:
# same with the first row (this time, we get a vector of 4 components)
data.values[0]

array([      196,       242,         3, 881250949], dtype=int64)

In [16]:
# access all rows, and first 3 columns 
data.values[:,[0,1,2]]

array([[ 196,  242,    3],
       [ 186,  302,    3],
       [  22,  377,    1],
       ...,
       [ 276, 1090,    1],
       [  13,  225,    2],
       [  12,  203,    3]], dtype=int64)

In [ ]:
# access all collumns, and first 3 rows

In [ ]:
# access first 10 rows

# This is equivalent to data.values[:10]

In [ ]:
# access first column

In [20]:
# Number of users and items
n_users = n_users=data.user_id.unique().size

In [21]:
n_items=np.unique(data.values[:,1].shape[0])

In [26]:
# Number of items
n_items =np.unique(data.values[:,1])

In [24]:
n_users

943

In [28]:
n_items.size

1682

In [29]:
print("There are %s users and %s items" %(n_users, n_items))

There are 943 users and [   1    2    3 ... 1680 1681 1682] items

## 1.2 A dictionary for movies and a search tool

In order to analyze the predicted recommendations, let's create a python dictonary that will allow us to translate any item id to the corresponding movie title. Also, let's write a small function that returns the ids of the movies containing some text.

The correspondance between titles and ids is stored in the u.item file

In [31]:
# data_root = "./../data/ml-100k/"
items_id_file = os.path.join(data_root, "u.item")
# !head $items_id_file

### *Simple reminder of dictionaries*

In [32]:
aux = {'hola': 'que haces?', 1: '237'}

In [33]:
# Access value of key='hola'
aux['hola']

'que haces?'

In [34]:
# create new key
aux['adios']='hola'

In [35]:
aux

{'hola': 'que haces?', 1: '237', 'adios': 'hola'}

In [36]:
# Update value of existing key
aux['hola']='hola'

In [42]:
# get all keys 
list(aux.keys())

['hola', 1, 'adios']

In [43]:
# get all values
list(aux.values())

['hola', '237', 'hola']

In [44]:
# get all keys and values at the same time
list(aux.items())

[('hola', 'hola'), (1, '237'), ('adios', 'hola')]

In [46]:
# Create a dictionary for movie titles and ids
item_dict = {}
with io.open(items_id_file, 'rb') as f:
    for line in f.readlines():
        record = line.split(b'|')
        item_dict[int(record[0])] = str(record[1])
    
# We can use this dict to see the films a user has seen, for instance. 
for record in data.values[:20]:
    print("User {u} viewed '{m}' and gave a {r} rating".format(
        u=record[0], m=item_dict[record[1]], r=record[2]))

User 196 viewed 'b'Kolya (1996)'' and gave a 3 rating
User 186 viewed 'b'L.A. Confidential (1997)'' and gave a 3 rating
User 22 viewed 'b'Heavyweights (1994)'' and gave a 1 rating
User 244 viewed 'b'Legends of the Fall (1994)'' and gave a 2 rating
User 166 viewed 'b'Jackie Brown (1997)'' and gave a 1 rating
User 298 viewed 'b'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)'' and gave a 4 rating
User 115 viewed 'b'Hunt for Red October, The (1990)'' and gave a 2 rating
User 253 viewed 'b'Jungle Book, The (1994)'' and gave a 5 rating
User 305 viewed 'b'Grease (1978)'' and gave a 3 rating
User 6 viewed 'b'Remains of the Day, The (1993)'' and gave a 3 rating
User 62 viewed 'b'Men in Black (1997)'' and gave a 2 rating
User 286 viewed 'b"Romy and Michele's High School Reunion (1997)"' and gave a 5 rating
User 200 viewed 'b'Star Trek: First Contact (1996)'' and gave a 5 rating
User 210 viewed 'b'To Wong Foo, Thanks for Everything! Julie Newmar (1995)'' and gave a 3 rating
User 224 viewed 'b'Batman Forever (1995)'' and gave a 3 rating
User 303 viewed 'b'Only You (1994)'' and gave a 3 rating
User 122 viewed 'b'Age of Innocence, The (1993)'' and gave a 5 rating
User 194 viewed 'b'Sabrina (1995)'' and gave a 2 rating
User 291 viewed 'b'Just Cause (1995)'' and gave a 4 rating
User 234 viewed 'b'Endless Summer 2, The (1994)'' and gave a 2 rating

In [60]:
# Define a function that retrieves all the ids and titles for movies containing 'text' in its title
def returnItemId(text, ids):
    """
    :param text: string to be looked for in movies titles
    :param ids: dictionary of {id:title}
    
    :return: a list of (id,title) if text found in titles, and an empty list otherwise.
    """
    # convert input text to lowercase
    text_ = text.lower()
    # find occurances
    search = []
    for id_,title in ids.items():
        if text in title.lower():
            search.append((id_,title))
    
    return search

In [50]:
returnItemId??

In [61]:
returnItemId('but', item_dict)

[(240, "b'Beavis and Butt-head Do America (1996)'"),
 (435, "b'Butch Cassidy and the Sundance Kid (1969)'"),
 (580,
  "b'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)'"),
 (1401, "b'M. Butterfly (1993)'"),
 (1459, "b'Madame Butterfly (1995)'"),
 (1614, "b'Reluctant Debutante, The (1958)'"),
 (1621, "b'Butterfly Kiss (1995)'"),
 (1645, "b'Butcher Boy, The (1998)'"),
 (1650, "b'Butcher Boy, The (1998)'")]

In [62]:
item_dict

{1: "b'Toy Story (1995)'",
 2: "b'GoldenEye (1995)'",
 3: "b'Four Rooms (1995)'",
 4: "b'Get Shorty (1995)'",
 5: "b'Copycat (1995)'",
 6: "b'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)'",
 7: "b'Twelve Monkeys (1995)'",
 8: "b'Babe (1995)'",
 9: "b'Dead Man Walking (1995)'",
 10: "b'Richard III (1995)'",
 11: "b'Seven (Se7en) (1995)'",
 12: "b'Usual Suspects, The (1995)'",
 13: "b'Mighty Aphrodite (1995)'",
 14: "b'Postino, Il (1994)'",
 15: 'b"Mr. Holland\'s Opus (1995)"',
 16: "b'French Twist (Gazon maudit) (1995)'",
 17: "b'From Dusk Till Dawn (1996)'",
 18: "b'White Balloon, The (1995)'",
 19: 'b"Antonia\'s Line (1995)"',
 20: "b'Angels and Insects (1995)'",
 21: "b'Muppet Treasure Island (1996)'",
 22: "b'Braveheart (1995)'",
 23: "b'Taxi Driver (1976)'",
 24: "b'Rumble in the Bronx (1995)'",
 25: "b'Birdcage, The (1996)'",
 26: "b'Brothers McMullen, The (1995)'",
 27: "b'Bad Boys (1995)'",
 28: "b'Apollo 13 (1995)'",
 29: "b'Batman Forever (1995)'",
 30: "b'Belle de jour (1967)'",
 31: "b'Crimson Tide (1995)'",
 32: "b'Crumb (1994)'",
 33: "b'Desperado (1995)'",
 34: "b'Doom Generation, The (1995)'",
 35: "b'Free Willy 2: The Adventure Home (1995)'",
 36: "b'Mad Love (1995)'",
 37: "b'Nadja (1994)'",
 38: "b'Net, The (1995)'",
 39: "b'Strange Days (1995)'",
 40: "b'To Wong Foo, Thanks for Everything! Julie Newmar (1995)'",
 41: "b'Billy Madison (1995)'",
 42: "b'Clerks (1994)'",
 43: "b'Disclosure (1994)'",
 44: "b'Dolores Claiborne (1994)'",
 45: "b'Eat Drink Man Woman (1994)'",
 46: "b'Exotica (1994)'",
 47: "b'Ed Wood (1994)'",
 48: "b'Hoop Dreams (1994)'",
 49: "b'I.Q. (1994)'",
 50: "b'Star Wars (1977)'",
 51: "b'Legends of the Fall (1994)'",
 52: "b'Madness of King George, The (1994)'",
 53: "b'Natural Born Killers (1994)'",
 54: "b'Outbreak (1995)'",
 55: "b'Professional, The (1994)'",
 56: "b'Pulp Fiction (1994)'",
 57: "b'Priest (1994)'",
 58: "b'Quiz Show (1994)'",
 59: "b'Three Colors: Red (1994)'",
 60: "b'Three Colors: Blue (1993)'",
 61: "b'Three Colors: White (1994)'",
 62: "b'Stargate (1994)'",
 63: "b'Santa Clause, The (1994)'",
 64: "b'Shawshank Redemption, The (1994)'",
 65: 'b"What\'s Eating Gilbert Grape (1993)"',
 66: "b'While You Were Sleeping (1995)'",
 67: "b'Ace Ventura: Pet Detective (1994)'",
 68: "b'Crow, The (1994)'",
 69: "b'Forrest Gump (1994)'",
 70: "b'Four Weddings and a Funeral (1994)'",
 71: "b'Lion King, The (1994)'",
 72: "b'Mask, The (1994)'",
 73: "b'Maverick (1994)'",
 74: "b'Faster Pussycat! Kill! Kill! (1965)'",
 75: "b'Brother Minister: The Assassination of Malcolm X (1994)'",
 76: 'b"Carlito\'s Way (1993)"',
 77: "b'Firm, The (1993)'",
 78: "b'Free Willy (1993)'",
 79: "b'Fugitive, The (1993)'",
 80: "b'Hot Shots! Part Deux (1993)'",
 81: "b'Hudsucker Proxy, The (1994)'",
 82: "b'Jurassic Park (1993)'",
 83: "b'Much Ado About Nothing (1993)'",
 84: 'b"Robert A. Heinlein\'s The Puppet Masters (1994)"',
 85: "b'Ref, The (1994)'",
 86: "b'Remains of the Day, The (1993)'",
 87: "b'Searching for Bobby Fischer (1993)'",
 88: "b'Sleepless in Seattle (1993)'",
 89: "b'Blade Runner (1982)'",
 90: "b'So I Married an Axe Murderer (1993)'",
 91: "b'Nightmare Before Christmas, The (1993)'",
 92: "b'True Romance (1993)'",
 93: "b'Welcome to the Dollhouse (1995)'",
 94: "b'Home Alone (1990)'",
 95: "b'Aladdin (1992)'",
 96: "b'Terminator 2: Judgment Day (1991)'",
 97: "b'Dances with Wolves (1990)'",
 98: "b'Silence of the Lambs, The (1991)'",
 99: "b'Snow White and the Seven Dwarfs (1937)'",
 100: "b'Fargo (1996)'",
 101: "b'Heavy Metal (1981)'",
 102: "b'Aristocats, The (1970)'",
 103: "b'All Dogs Go to Heaven 2 (1996)'",
 104: "b'Theodore Rex (1995)'",
 105: "b'Sgt. Bilko (1996)'",
 106: "b'Diabolique (1996)'",
 107: "b'Moll Flanders (1996)'",
 108: "b'Kids in the Hall: Brain Candy (1996)'",
 109: "b'Mystery Science Theater 3000: The Movie (1996)'",
 110: "b'Operation Dumbo Drop (1995)'",
 111: "b'Truth About Cats & Dogs, The (1996)'",
 112: "b'Flipper (1996)'",
 113: "b'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)'",
 114: "b'Wallace & Gromit: The Best of Aardman Animation (1996)'",
 115: "b'Haunted World of Edward D. Wood Jr., The (1995)'",
 116: "b'Cold Comfort Farm (1995)'",
 117: "b'Rock, The (1996)'",
 118: "b'Twister (1996)'",
 119: "b'Maya Lin: A Strong Clear Vision (1994)'",
 120: "b'Striptease (1996)'",
 121: "b'Independence Day (ID4) (1996)'",
 122: "b'Cable Guy, The (1996)'",
 123: "b'Frighteners, The (1996)'",
 124: "b'Lone Star (1996)'",
 125: "b'Phenomenon (1996)'",
 126: "b'Spitfire Grill, The (1996)'",
 127: "b'Godfather, The (1972)'",
 128: "b'Supercop (1992)'",
 129: "b'Bound (1996)'",
 130: "b'Kansas City (1996)'",
 131: 'b"Breakfast at Tiffany\'s (1961)"',
 132: "b'Wizard of Oz, The (1939)'",
 133: "b'Gone with the Wind (1939)'",
 134: "b'Citizen Kane (1941)'",
 135: "b'2001: A Space Odyssey (1968)'",
 136: "b'Mr. Smith Goes to Washington (1939)'",
 137: "b'Big Night (1996)'",
 138: "b'D3: The Mighty Ducks (1996)'",
 139: "b'Love Bug, The (1969)'",
 140: "b'Homeward Bound: The Incredible Journey (1993)'",
 141: "b'20,000 Leagues Under the Sea (1954)'",
 142: "b'Bedknobs and Broomsticks (1971)'",
 143: "b'Sound of Music, The (1965)'",
 144: "b'Die Hard (1988)'",
 145: "b'Lawnmower Man, The (1992)'",
 146: "b'Unhook the Stars (1996)'",
 147: "b'Long Kiss Goodnight, The (1996)'",
 148: "b'Ghost and the Darkness, The (1996)'",
 149: "b'Jude (1996)'",
 150: "b'Swingers (1996)'",
 151: "b'Willy Wonka and the Chocolate Factory (1971)'",
 152: "b'Sleeper (1973)'",
 153: "b'Fish Called Wanda, A (1988)'",
 154: 'b"Monty Python\'s Life of Brian (1979)"',
 155: "b'Dirty Dancing (1987)'",
 156: "b'Reservoir Dogs (1992)'",
 157: "b'Platoon (1986)'",
 158: 'b"Weekend at Bernie\'s (1989)"',
 159: "b'Basic Instinct (1992)'",
 160: "b'Glengarry Glen Ross (1992)'",
 161: "b'Top Gun (1986)'",
 162: "b'On Golden Pond (1981)'",
 163: "b'Return of the Pink Panther, The (1974)'",
 164: "b'Abyss, The (1989)'",
 165: "b'Jean de Florette (1986)'",
 166: "b'Manon of the Spring (Manon des sources) (1986)'",
 167: "b'Private Benjamin (1980)'",
 168: "b'Monty Python and the Holy Grail (1974)'",
 169: "b'Wrong Trousers, The (1993)'",
 170: "b'Cinema Paradiso (1988)'",
 171: "b'Delicatessen (1991)'",
 172: "b'Empire Strikes Back, The (1980)'",
 173: "b'Princess Bride, The (1987)'",
 174: "b'Raiders of the Lost Ark (1981)'",
 175: "b'Brazil (1985)'",
 176: "b'Aliens (1986)'",
 177: "b'Good, The Bad and The Ugly, The (1966)'",
 178: "b'12 Angry Men (1957)'",
 179: "b'Clockwork Orange, A (1971)'",
 180: "b'Apocalypse Now (1979)'",
 181: "b'Return of the Jedi (1983)'",
 182: "b'GoodFellas (1990)'",
 183: "b'Alien (1979)'",
 184: "b'Army of Darkness (1993)'",
 185: "b'Psycho (1960)'",
 186: "b'Blues Brothers, The (1980)'",
 187: "b'Godfather: Part II, The (1974)'",
 188: "b'Full Metal Jacket (1987)'",
 189: "b'Grand Day Out, A (1992)'",
 190: "b'Henry V (1989)'",
 191: "b'Amadeus (1984)'",
 192: "b'Raging Bull (1980)'",
 193: "b'Right Stuff, The (1983)'",
 194: "b'Sting, The (1973)'",
 195: "b'Terminator, The (1984)'",
 196: "b'Dead Poets Society (1989)'",
 197: "b'Graduate, The (1967)'",
 198: "b'Nikita (La Femme Nikita) (1990)'",
 199: "b'Bridge on the River Kwai, The (1957)'",
 200: "b'Shining, The (1980)'",
 201: "b'Evil Dead II (1987)'",
 202: "b'Groundhog Day (1993)'",
 203: "b'Unforgiven (1992)'",
 204: "b'Back to the Future (1985)'",
 205: "b'Patton (1970)'",
 206: "b'Akira (1988)'",
 207: "b'Cyrano de Bergerac (1990)'",
 208: "b'Young Frankenstein (1974)'",
 209: "b'This Is Spinal Tap (1984)'",
 210: "b'Indiana Jones and the Last Crusade (1989)'",
 211: "b'M*A*S*H (1970)'",
 212: "b'Unbearable Lightness of Being, The (1988)'",
 213: "b'Room with a View, A (1986)'",
 214: "b'Pink Floyd - The Wall (1982)'",
 215: "b'Field of Dreams (1989)'",
 216: "b'When Harry Met Sally... (1989)'",
 217: 'b"Bram Stoker\'s Dracula (1992)"',
 218: "b'Cape Fear (1991)'",
 219: "b'Nightmare on Elm Street, A (1984)'",
 220: "b'Mirror Has Two Faces, The (1996)'",
 221: "b'Breaking the Waves (1996)'",
 222: "b'Star Trek: First Contact (1996)'",
 223: "b'Sling Blade (1996)'",
 224: "b'Ridicule (1996)'",
 225: "b'101 Dalmatians (1996)'",
 226: "b'Die Hard 2 (1990)'",
 227: "b'Star Trek VI: The Undiscovered Country (1991)'",
 228: "b'Star Trek: The Wrath of Khan (1982)'",
 229: "b'Star Trek III: The Search for Spock (1984)'",
 230: "b'Star Trek IV: The Voyage Home (1986)'",
 231: "b'Batman Returns (1992)'",
 232: "b'Young Guns (1988)'",
 233: "b'Under Siege (1992)'",
 234: "b'Jaws (1975)'",
 235: "b'Mars Attacks! (1996)'",
 236: "b'Citizen Ruth (1996)'",
 237: "b'Jerry Maguire (1996)'",
 238: "b'Raising Arizona (1987)'",
 239: "b'Sneakers (1992)'",
 240: "b'Beavis and Butt-head Do America (1996)'",
 241: "b'Last of the Mohicans, The (1992)'",
 242: "b'Kolya (1996)'",
 243: "b'Jungle2Jungle (1997)'",
 244: 'b"Smilla\'s Sense of Snow (1997)"',
 245: 'b"Devil\'s Own, The (1997)"',
 246: "b'Chasing Amy (1997)'",
 247: "b'Turbo: A Power Rangers Movie (1997)'",
 248: "b'Grosse Pointe Blank (1997)'",
 249: "b'Austin Powers: International Man of Mystery (1997)'",
 250: "b'Fifth Element, The (1997)'",
 251: "b'Shall We Dance? (1996)'",
 252: "b'Lost World: Jurassic Park, The (1997)'",
 253: "b'Pillow Book, The (1995)'",
 254: "b'Batman & Robin (1997)'",
 255: 'b"My Best Friend\'s Wedding (1997)"',
 256: "b'When the Cats Away (Chacun cherche son chat) (1996)'",
 257: "b'Men in Black (1997)'",
 258: "b'Contact (1997)'",
 259: "b'George of the Jungle (1997)'",
 260: "b'Event Horizon (1997)'",
 261: "b'Air Bud (1997)'",
 262: "b'In the Company of Men (1997)'",
 263: "b'Steel (1997)'",
 264: "b'Mimic (1997)'",
 265: "b'Hunt for Red October, The (1990)'",
 266: "b'Kull the Conqueror (1997)'",
 267: "b'unknown'",
 268: "b'Chasing Amy (1997)'",
 269: "b'Full Monty, The (1997)'",
 270: "b'Gattaca (1997)'",
 271: "b'Starship Troopers (1997)'",
 272: "b'Good Will Hunting (1997)'",
 273: "b'Heat (1995)'",
 274: "b'Sabrina (1995)'",
 275: "b'Sense and Sensibility (1995)'",
 276: "b'Leaving Las Vegas (1995)'",
 277: "b'Restoration (1995)'",
 278: "b'Bed of Roses (1996)'",
 279: "b'Once Upon a Time... When We Were Colored (1995)'",
 280: "b'Up Close and Personal (1996)'",
 281: "b'River Wild, The (1994)'",
 282: "b'Time to Kill, A (1996)'",
 283: "b'Emma (1996)'",
 284: "b'Tin Cup (1996)'",
 285: "b'Secrets & Lies (1996)'",
 286: "b'English Patient, The (1996)'",
 287: 'b"Marvin\'s Room (1996)"',
 288: "b'Scream (1996)'",
 289: "b'Evita (1996)'",
 290: "b'Fierce Creatures (1997)'",
 291: "b'Absolute Power (1997)'",
 292: "b'Rosewood (1997)'",
 293: "b'Donnie Brasco (1997)'",
 294: "b'Liar Liar (1997)'",
 295: "b'Breakdown (1997)'",
 296: "b'Promesse, La (1996)'",
 297: 'b"Ulee\'s Gold (1997)"',
 298: "b'Face/Off (1997)'",
 299: "b'Hoodlum (1997)'",
 300: "b'Air Force One (1997)'",
 301: "b'In & Out (1997)'",
 302: "b'L.A. Confidential (1997)'",
 303: 'b"Ulee\'s Gold (1997)"',
 304: "b'Fly Away Home (1996)'",
 305: "b'Ice Storm, The (1997)'",
 306: "b'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)'",
 307: 'b"Devil\'s Advocate, The (1997)"',
 308: "b'FairyTale: A True Story (1997)'",
 309: "b'Deceiver (1997)'",
 310: "b'Rainmaker, The (1997)'",
 311: "b'Wings of the Dove, The (1997)'",
 312: "b'Midnight in the Garden of Good and Evil (1997)'",
 313: "b'Titanic (1997)'",
 314: "b'3 Ninjas: High Noon At Mega Mountain (1998)'",
 315: "b'Apt Pupil (1998)'",
 316: "b'As Good As It Gets (1997)'",
 317: "b'In the Name of the Father (1993)'",
 318: 'b"Schindler\'s List (1993)"',
 319: "b'Everyone Says I Love You (1996)'",
 320: "b'Paradise Lost: The Child Murders at Robin Hood Hills (1996)'",
 321: "b'Mother (1996)'",
 322: "b'Murder at 1600 (1997)'",
 323: 'b"Dante\'s Peak (1997)"',
 324: "b'Lost Highway (1997)'",
 325: "b'Crash (1996)'",
 326: "b'G.I. Jane (1997)'",
 327: "b'Cop Land (1997)'",
 328: "b'Conspiracy Theory (1997)'",
 329: "b'Desperate Measures (1998)'",
 330: "b'187 (1997)'",
 331: "b'Edge, The (1997)'",
 332: "b'Kiss the Girls (1997)'",
 333: "b'Game, The (1997)'",
 334: "b'U Turn (1997)'",
 335: "b'How to Be a Player (1997)'",
 336: "b'Playing God (1997)'",
 337: "b'House of Yes, The (1997)'",
 338: "b'Bean (1997)'",
 339: "b'Mad City (1997)'",
 340: "b'Boogie Nights (1997)'",
 341: "b'Critical Care (1997)'",
 342: "b'Man Who Knew Too Little, The (1997)'",
 343: "b'Alien: Resurrection (1997)'",
 344: "b'Apostle, The (1997)'",
 345: "b'Deconstructing Harry (1997)'",
 346: "b'Jackie Brown (1997)'",
 347: "b'Wag the Dog (1997)'",
 348: "b'Desperate Measures (1998)'",
 349: "b'Hard Rain (1998)'",
 350: "b'Fallen (1998)'",
 351: "b'Prophecy II, The (1998)'",
 352: "b'Spice World (1997)'",
 353: "b'Deep Rising (1998)'",
 354: "b'Wedding Singer, The (1998)'",
 355: "b'Sphere (1998)'",
 356: "b'Client, The (1994)'",
 357: 'b"One Flew Over the Cuckoo\'s Nest (1975)"',
 358: "b'Spawn (1997)'",
 359: "b'Assignment, The (1997)'",
 360: "b'Wonderland (1997)'",
 361: "b'Incognito (1997)'",
 362: "b'Blues Brothers 2000 (1998)'",
 363: "b'Sudden Death (1995)'",
 364: "b'Ace Ventura: When Nature Calls (1995)'",
 365: "b'Powder (1995)'",
 366: "b'Dangerous Minds (1995)'",
 367: "b'Clueless (1995)'",
 368: "b'Bio-Dome (1996)'",
 369: "b'Black Sheep (1996)'",
 370: "b'Mary Reilly (1996)'",
 371: "b'Bridges of Madison County, The (1995)'",
 372: "b'Jeffrey (1995)'",
 373: "b'Judge Dredd (1995)'",
 374: "b'Mighty Morphin Power Rangers: The Movie (1995)'",
 375: "b'Showgirls (1995)'",
 376: "b'Houseguest (1994)'",
 377: "b'Heavyweights (1994)'",
 378: "b'Miracle on 34th Street (1994)'",
 379: "b'Tales From the Crypt Presents: Demon Knight (1995)'",
 380: "b'Star Trek: Generations (1994)'",
 381: 'b"Muriel\'s Wedding (1994)"',
 382: "b'Adventures of Priscilla, Queen of the Desert, The (1994)'",
 383: "b'Flintstones, The (1994)'",
 384: "b'Naked Gun 33 1/3: The Final Insult (1994)'",
 385: "b'True Lies (1994)'",
 386: "b'Addams Family Values (1993)'",
 387: "b'Age of Innocence, The (1993)'",
 388: "b'Beverly Hills Cop III (1994)'",
 389: "b'Black Beauty (1994)'",
 390: "b'Fear of a Black Hat (1993)'",
 391: "b'Last Action Hero (1993)'",
 392: "b'Man Without a Face, The (1993)'",
 393: "b'Mrs. Doubtfire (1993)'",
 394: "b'Radioland Murders (1994)'",
 395: "b'Robin Hood: Men in Tights (1993)'",
 396: "b'Serial Mom (1994)'",
 397: "b'Striking Distance (1993)'",
 398: "b'Super Mario Bros. (1993)'",
 399: "b'Three Musketeers, The (1993)'",
 400: "b'Little Rascals, The (1994)'",
 401: "b'Brady Bunch Movie, The (1995)'",
 402: "b'Ghost (1990)'",
 403: "b'Batman (1989)'",
 404: "b'Pinocchio (1940)'",
 405: "b'Mission: Impossible (1996)'",
 406: "b'Thinner (1996)'",
 407: "b'Spy Hard (1996)'",
 408: "b'Close Shave, A (1995)'",
 409: "b'Jack (1996)'",
 410: "b'Kingpin (1996)'",
 411: "b'Nutty Professor, The (1996)'",
 412: "b'Very Brady Sequel, A (1996)'",
 413: "b'Tales from the Crypt Presents: Bordello of Blood (1996)'",
 414: "b'My Favorite Year (1982)'",
 415: "b'Apple Dumpling Gang, The (1975)'",
 416: "b'Old Yeller (1957)'",
 417: "b'Parent Trap, The (1961)'",
 418: "b'Cinderella (1950)'",
 419: "b'Mary Poppins (1964)'",
 420: "b'Alice in Wonderland (1951)'",
 421: 'b"William Shakespeare\'s Romeo and Juliet (1996)"',
 422: "b'Aladdin and the King of Thieves (1996)'",
 423: "b'E.T. the Extra-Terrestrial (1982)'",
 424: "b'Children of the Corn: The Gathering (1996)'",
 425: "b'Bob Roberts (1992)'",
 426: "b'Transformers: The Movie, The (1986)'",
 427: "b'To Kill a Mockingbird (1962)'",
 428: "b'Harold and Maude (1971)'",
 429: "b'Day the Earth Stood Still, The (1951)'",
 430: "b'Duck Soup (1933)'",
 431: "b'Highlander (1986)'",
 432: "b'Fantasia (1940)'",
 433: "b'Heathers (1989)'",
 434: "b'Forbidden Planet (1956)'",
 435: "b'Butch Cassidy and the Sundance Kid (1969)'",
 436: "b'American Werewolf in London, An (1981)'",
 437: 'b"Amityville 1992: It\'s About Time (1992)"',
 438: "b'Amityville 3-D (1983)'",
 439: "b'Amityville: A New Generation (1993)'",
 440: "b'Amityville II: The Possession (1982)'",
 441: "b'Amityville Horror, The (1979)'",
 442: "b'Amityville Curse, The (1990)'",
 443: "b'Birds, The (1963)'",
 444: "b'Blob, The (1958)'",
 445: "b'Body Snatcher, The (1945)'",
 446: "b'Burnt Offerings (1976)'",
 447: "b'Carrie (1976)'",
 448: "b'Omen, The (1976)'",
 449: "b'Star Trek: The Motion Picture (1979)'",
 450: "b'Star Trek V: The Final Frontier (1989)'",
 451: "b'Grease (1978)'",
 452: "b'Jaws 2 (1978)'",
 453: "b'Jaws 3-D (1983)'",
 454: "b'Bastard Out of Carolina (1996)'",
 455: 'b"Jackie Chan\'s First Strike (1996)"',
 456: "b'Beverly Hills Ninja (1997)'",
 457: "b'Free Willy 3: The Rescue (1997)'",
 458: "b'Nixon (1995)'",
 459: "b'Cry, the Beloved Country (1995)'",
 460: "b'Crossing Guard, The (1995)'",
 461: "b'Smoke (1995)'",
 462: "b'Like Water For Chocolate (Como agua para chocolate) (1992)'",
 463: "b'Secret of Roan Inish, The (1994)'",
 464: "b'Vanya on 42nd Street (1994)'",
 465: "b'Jungle Book, The (1994)'",
 466: "b'Red Rock West (1992)'",
 467: "b'Bronx Tale, A (1993)'",
 468: "b'Rudy (1993)'",
 469: "b'Short Cuts (1993)'",
 470: "b'Tombstone (1993)'",
 471: "b'Courage Under Fire (1996)'",
 472: "b'Dragonheart (1996)'",
 473: "b'James and the Giant Peach (1996)'",
 474: "b'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)'",
 475: "b'Trainspotting (1996)'",
 476: "b'First Wives Club, The (1996)'",
 477: "b'Matilda (1996)'",
 478: "b'Philadelphia Story, The (1940)'",
 479: "b'Vertigo (1958)'",
 480: "b'North by Northwest (1959)'",
 481: "b'Apartment, The (1960)'",
 482: "b'Some Like It Hot (1959)'",
 483: "b'Casablanca (1942)'",
 484: "b'Maltese Falcon, The (1941)'",
 485: "b'My Fair Lady (1964)'",
 486: "b'Sabrina (1954)'",
 487: "b'Roman Holiday (1953)'",
 488: "b'Sunset Blvd. (1950)'",
 489: "b'Notorious (1946)'",
 490: "b'To Catch a Thief (1955)'",
 491: "b'Adventures of Robin Hood, The (1938)'",
 492: "b'East of Eden (1955)'",
 493: "b'Thin Man, The (1934)'",
 494: "b'His Girl Friday (1940)'",
 495: "b'Around the World in 80 Days (1956)'",
 496: 'b"It\'s a Wonderful Life (1946)"',
 497: "b'Bringing Up Baby (1938)'",
 498: "b'African Queen, The (1951)'",
 499: "b'Cat on a Hot Tin Roof (1958)'",
 500: "b'Fly Away Home (1996)'",
 501: "b'Dumbo (1941)'",
 502: "b'Bananas (1971)'",
 503: "b'Candidate, The (1972)'",
 504: "b'Bonnie and Clyde (1967)'",
 505: "b'Dial M for Murder (1954)'",
 506: "b'Rebel Without a Cause (1955)'",
 507: "b'Streetcar Named Desire, A (1951)'",
 508: "b'People vs. Larry Flynt, The (1996)'",
 509: "b'My Left Foot (1989)'",
 510: "b'Magnificent Seven, The (1954)'",
 511: "b'Lawrence of Arabia (1962)'",
 512: "b'Wings of Desire (1987)'",
 513: "b'Third Man, The (1949)'",
 514: "b'Annie Hall (1977)'",
 515: "b'Boot, Das (1981)'",
 516: "b'Local Hero (1983)'",
 517: "b'Manhattan (1979)'",
 518: 'b"Miller\'s Crossing (1990)"',
 519: "b'Treasure of the Sierra Madre, The (1948)'",
 520: "b'Great Escape, The (1963)'",
 521: "b'Deer Hunter, The (1978)'",
 522: "b'Down by Law (1986)'",
 523: "b'Cool Hand Luke (1967)'",
 524: "b'Great Dictator, The (1940)'",
 525: "b'Big Sleep, The (1946)'",
 526: "b'Ben-Hur (1959)'",
 527: "b'Gandhi (1982)'",
 528: "b'Killing Fields, The (1984)'",
 529: "b'My Life as a Dog (Mitt liv som hund) (1985)'",
 530: "b'Man Who Would Be King, The (1975)'",
 531: "b'Shine (1996)'",
 532: "b'Kama Sutra: A Tale of Love (1996)'",
 533: "b'Daytrippers, The (1996)'",
 534: "b'Traveller (1997)'",
 535: "b'Addicted to Love (1997)'",
 536: "b'Ponette (1996)'",
 537: "b'My Own Private Idaho (1991)'",
 538: "b'Anastasia (1997)'",
 539: "b'Mouse Hunt (1997)'",
 540: "b'Money Train (1995)'",
 541: "b'Mortal Kombat (1995)'",
 542: "b'Pocahontas (1995)'",
 543: "b'Mis\\xe9rables, Les (1995)'",
 544: 'b"Things to Do in Denver when You\'re Dead (1995)"',
 545: "b'Vampire in Brooklyn (1995)'",
 546: "b'Broken Arrow (1996)'",

## COPIAMOS DEL NOTEBOOK DE MAÑANA:

In [118]:
class rueda():
    
    def __init__ (self, marca, diametro):
        
        self.marca=marca
        self.diametro=diametro
        self.distancia=0
        
    def rodar(self, AAA):
        self.distancia=self.distancia+AAA

In [119]:
rl=rueda(marca='michelin', diametro=17)

In [113]:
rl.marca, rl.diametro

('michelin', 17)

In [122]:
rl.rodar(5)

In [123]:
rl.distancia

10

## 1.3 Data consistency (always double check everything!!!)

In [63]:
# check whether titles are unique or not. They are not!!!
len(set(item_dict.keys())),len(set(item_dict.values()))

(1682, 1664)

In [ ]:
?

### One work around: create another dict that consolidates ids with the same movie title

Alternatively, you could create a Dataframe from the above dictionary of ids:titles

<pre><code>
dd = pd.DataFrame.from_dict(item_dict, orient='index').reset_index()
dd.columns = ['item_id', 'title']
dd.head()
</code></pre>

find the duplicates (`dd.groupby('title')...`), and create a new id for the items.

In [ ]:
duplicates_item_dict = {}
# Las claves en "duplicates_item_dict" son los nombres de las películas
# Los valores son una lista de los ids (que pueden ser uno solo, o varios)
for id_, name in list(item_dict.items()):
    # clave: name; valor: list(id_)
    ?

# show the duplicated titles
for k,v in list(duplicates_item_dict.items()):
    if len(v)>1:
        print(k,v)

Create a dict where the key are the original ids, and the values are the unique one. 
We will use this dictionary to remove duplicates in a dataframe.

In [ ]:
unique_id_item_dict ={}
for new_id, old_id_list in enumerate(duplicates_item_dict.values()):
    # key: old_id; value: new_id
    ?

unique_id_item_dict = {old_id: new_id for new_id, old_id_list in enumerate(duplicates_item_dict.values()) 
                                      for old_id in old_id_list}

In [ ]:
unique_id_item_dict

Create another dict mapping moving titles to this new unique id

In [ ]:
unique_item_dict = {unique_id_item_dict[k]:v 
                    for k,v in item_dict.items()}
    
assert(len(set(unique_item_dict.keys())) == 
       len(set(unique_item_dict.values())))

Now we can use our `returnItemId()` mehtod safely =)

In [ ]:
returnItemId('but', unique_item_dict)

In [ ]:
returnItemId('but', item_dict)

In [125]:
class movielens_100k(object):
    """
    This python class read the movielens-100k dataset and:
        . Preprocess train and test sets
        . Create a python dict that allows us to translate any item id to the corresponding movie title
    """
    
    def __init__(self, data_root, item_id_file='u.item', train_file='u2.base', test_file='u2.test', 
                 columns=['user_id', 'item_id', 'rating', 'timestamp']):
                
        self.data_root = data_root
        self.items_id_file = os.path.join(self.data_root, item_id_file)
        self.train_file = train_file
        self.test_file = test_file
        self.columns = columns
        self.__data = {}  # dictionary to store train and test data
            
    def __getitem__(self, dataset):
        """
        Get train and test data

        :param dataset: dataset name (String)
        :return: pandas dataframe
        """
        return self.__data[dataset]

    def __setitem__(self, key, value):
        """
        Store train and test data in the dictionary self.__data.

        :param key: name of the dataset (String)
        :param value: pandas dataframe
        """
        self.__data[key] = value
        
    def read_data(self, file, verbose=False):
        """
        Read file returning a pandas dataframe
        :param file: file path
        :param verbose: print the first rows of the data
        """
        datafile = os.path.join(self.data_root, file)
        data = pd.read_csv(datafile, sep='\t', names=self.columns)
        if verbose:
            print(data.head())
        return data
            
    def returnItemId(self, text, dict_ids):
        """
        Retrieves all the ids and titles for movies containing 'text' in its title
        :param text: string to be looked for in movies titles
        :param dict_ids: dicttionary of {id:title}

        :return: a list of (id,title) if text found in titles, and an empty list otherwise.
        """
        # convert input text to lowercase
        text_ = text.lower()
        # find occurances
        search = [(k, v.lower().find(text_)) 
                  for k,v in list(dict_ids.items())]

        # Get the IDs corresponding to the given text
        index = [k for k,v in search if v>-1]

        # Return a list with the id and the name
        out = []
        for i in index:
            out.append((i, dict_ids[i]))
        return out
    
    def check_data_consistency(self):
        """
        Check if one film has two or more ids
        """
        self.item_dict = {}
        with io.open(self.items_id_file, 'rb') as f:
            for line in f.readlines():
                record = line.split(b'|')
                self.item_dict[int(record[0])] = str(record[1])
                
        if len(set(self.item_dict.keys())) == len(set(self.item_dict.values())):
            self.unique_item_dict_ = self.item_dict
            return True
        else:
            self.duplicates_item_dict = {}
            for id_,name in list(self.item_dict.items()):
                if name not in self.duplicates_item_dict:
                    self.duplicates_item_dict[name] = [id_]
                else:
                    self.duplicates_item_dict[name] = self.duplicates_item_dict[name]+[id_]

            self.unique_id_item_dict ={}
            for i, lista_id in enumerate(self.duplicates_item_dict.values()) :
                for key in lista_id:
                    self.unique_id_item_dict[key] = i

            self.unique_item_dict_ = {self.unique_id_item_dict[k]:v 
                                for k,v in self.item_dict.items()}
            return False
    
    def correcting_non_unique_movies(self, data_df):
        """
        Preprocess data_df in case the check_data_consistency function fails
        """
        if not self.check_data_consistency():
            data_df['item_id'] = data_df['item_id'].apply(lambda x: self.unique_id_item_dict[x])
            
        return data_df
            
    def train(self, verbose=False):
        """
        Train data
        """
        self['train_set'] = self.read_data(self.train_file, verbose)
        self['train_set'] = self.correcting_non_unique_movies(self['train_set'])
        items = self['train_set'].item_id.unique()
        self.train_id_dict = {j:i for i,j in enumerate(items)}
        self['train_set']['item_id'] = self['train_set']['item_id'].apply(lambda x: self.train_id_dict[x])
        self.unique_item_dict = {self.train_id_dict[v]:self.unique_item_dict_[v] 
                                for v in items}
        self.n_users = self['train_set'].user_id.unique().shape[0]
        self.n_items = self['train_set'].item_id.unique().shape[0]
        self.n_pairs = self['train_set'].shape[0]
        if verbose:
            print('There are %s users, %s items and %s pairs in the test set' \
                  %(self.n_users, self.n_items, self.n_pairs))
    
    def test(self, verbose=False):
        """
        Test data
        """
        self['test_set'] = self.read_data(self.test_file, verbose)
        self['test_set']['item_id'] = self['test_set']['item_id'].apply(lambda x: self.unique_id_item_dict[x])
        self['test_set']['item_id'] = self['test_set']['item_id'].apply(lambda x: self.train_id_dict[x] if x in self.train_id_dict else -1)
        self['test_set'] = self['test_set'][self['test_set']['item_id']!=-1]
        if verbose:
            print('There are %s users, %s items and %s pairs in the test set' \
                  %(self['test_set'].user_id.unique().shape[0], self['test_set'].item_id.unique().shape[0], 
                    self['test_set'].shape[0]))
            
    def get_data(self, verbose=False):
        """
        A kind of main function to return train and test data together
        """
        self.train(verbose)
        self.test(verbose)

In [126]:
ml=movielens_100k(data_root=data_root)

In [127]:
ml.test

In [129]:
ml.get_data()

In [130]:
ml['train_set'].head()

   user_id  item_id  rating  timestamp
0        1        0       4  878542960
1        1        1       3  876893119
2        1        2       3  889751712
3        1        3       5  887431973
4        1        4       4  875071561

In [131]:
ml['test_set'].head()

   user_id  item_id  rating  timestamp
0        1      289       5  874965758
1        1      290       3  876893171
2        1      373       1  875072484
3        1      374       5  878543541
4        1      665       1  878542772

In [138]:
m2=movielens_100k(data_root=data_root, train_file='u1.base', test_file='u1.test')

In [139]:
m2.get_data()

In [142]:
m2['train_set'].head()

   user_id  item_id  rating  timestamp
0        1        0       5  874965758
1        1        1       3  876893171
2        1        2       4  878542960
3        1        3       3  876893119
4        1        4       3  889751712

## 1.4 Train and test sets

GroupLens provides several splits of the dataset, so that we can check the goodness of our algorithms. See the README file for more  details. Here we will use one of such splits.

Please notice that we have to correct for the non-unique movie's id issue!!

In [ ]:
!ls $data_root

In [ ]:
trainfile = os.path.join(data_root, 'ua.base')
!head $trainfile

In [ ]:
columns = ['user_id', 'item_id', 'rating', 'timestamp']
trainfile = os.path.join(data_root, "ua.base")
train = ?
print('There are %s users, %s itmes and %s pairs in the train set' \
      %(train.user_id.unique().shape[0], train.item_id.unique().shape[0], train.item_id.count()))
train.head()

In [ ]:
# same for test
columns = ['user_id', 'item_id', 'rating', 'timestamp']
testfile = os.path.join(data_root, "ua.test")
test = ?
print('There are %s users, %s itmes and %s pairs in the test set' \
      %(test.user_id.unique().shape[0], test.item_id.unique().shape[0], test.item_id.count()))
test.head()

### Correcting for non-unique movies id 

Use Pandas `apply` method. Note it can be applied to all rows in a column, thus returning a Pandas Series; or it can be applied row-wise, he

*Reminder of lambda functions in Python: is a way of calling short functions (1 line of code), without having to define the function in a separted cell.*

In [ ]:
train['item_id'] = ?

In [ ]:
test['item_id'] = ?

<a id='popular'></a>
## 2. Most popular movies

Recommending popular items is a simple, yet quite effective baseline for recommendation. Indeed, most RS suffer from a strong *popularity bias*, i.e. they tend to recommend popular items more frequently than they should -just because suggesting what is popular is effective!-. There is a lot of research  devote to understand this behaviour and to develop recipies to avoid it. 

Movies can be ranked according to different popularity metrics:
* Most rated movie (it is assumed that this is the most watched movie)
* Most positively rated movie (rating > 4.0)
* Highest rated movie

## 2.1 Most rated movie

In [143]:
train=ml['train_set']

In [144]:
test=ml['test_set']

In [147]:
# group the train dataset by item and count the number of users using Pandas
mostRated = train.groupby('item_id')['user_id'].count()
mostRated.head()

item_id
0     65
1    172
2     66
3     22
4    318
Name: user_id, dtype: int64

In [168]:
# sort in descending order
mostRatedSorted = mostRated.sort_values(ascending=False)

In [169]:
mostRatedSorted.head()

item_id
36     252
80     185
105    175
140    166
252    150
Name: user_id, dtype: int64

## CADA VEZ QUE SE HACE UN GROUPBY, EL OBJETO DEVUELTO ES UN DATASERIES, NO UN DATAFRAME

In [170]:
# add the movie title, using the apply method, returning a Pandas Series in each row
def add_tile(row):
    id_ = row[0]
    title_ = ml.unique_item_dict[id_]
    freq_ = row[1]
    new_row = [id_,title_,freq_]
    return pd.Series(new_row, index=['id', 'title', 'freq'])

mostRatedMovies = (mostRatedSorted
                   .reset_index()
                   .apply(add_tile, axis=1)
                  )

In [172]:
mostRatedMovies.head(10)

    id                                title  freq
0   36                  b'Star Wars (1977)'   252
1   80                      b'Fargo (1996)'   185
2  105             b'Godfather, The (1972)'   175
3  140    b'Raiders of the Lost Ark (1981)'   166
4  252           b"Schindler's List (1993)"   150
5  246                    b'Titanic (1997)'   145
6  139   b'Empire Strikes Back, The (1980)'   142
7   42               b'Pulp Fiction (1994)'   141
8   79  b'Silence of the Lambs, The (1991)'   140
9  296        b'Princess Bride, The (1987)'   137

## 2.2 Most positively rated movie

Use the query method to filter values in train, `train.query('rating>4')`, or the traditional form `train[train.rating>4]`.

In [176]:
mosPostRated = (train[train['rating']>=4]
    .groupby('item_id')['user_id']
    .count()
    .sort_values(ascending=False)
    .reset_index()
    .apply(add_tile, axis=1))
mosPostRated.head(10)

    id                                title  freq
0   36                  b'Star Wars (1977)'   397
1   80                      b'Fargo (1996)'   334
2  298         b'Return of the Jedi (1983)'   302
3  105             b'Godfather, The (1972)'   283
4  140    b'Raiders of the Lost Ark (1981)'   280
5   79  b'Silence of the Lambs, The (1991)'   275
6  207                    b'Contact (1997)'   268
7  289                  b'Toy Story (1995)'   257
8  229       b'English Patient, The (1996)'   252
9  139   b'Empire Strikes Back, The (1980)'   250

In [246]:
train[train['item_id'].isin(aaa[aaa['user_id']>min_ratings]['item_id'])]

       user_id  item_id  rating  timestamp
0            1        0       4  878542960
1            1        1       3  876893119
2            1        2       3  889751712
3            1        3       5  887431973
4            1        4       4  875071561
5            1        5       3  875693118
6            1        6       2  875072262
7            1        7       5  878542960
8            1        8       5  875071805
9            1        9       5  874965706
10           1       10       5  875071608
11           1       11       5  878543541
12           1       12       3  875073198
14           1       14       5  875071515
15           1       15       4  887431883
16           1       16       4  875072895
17           1       17       3  875071713
18           1       18       4  875071805
19           1       19       2  876892946
20           1       20       4  875072173
21           1       21       1  878542869
22           1       22       3  875072144
23           1       23       4  878542699
26           1       26       4  875072173
27           1       27       2  876892818
28           1       28       5  876892425
29           1       29       4  878542869
30           1       30       5  878543541
31           1       31       5  875241687
32           1       32       4  876893230
...        ...      ...     ...        ...
79968      943      581       4  875502042
79969      943      631       4  875502116
79970      943      633       1  888640048
79971      943      634       5  888639660
79972      943      635       3  888640208
79973      943      637       1  888639478
79974      943      642       4  888639789
79975      943      649       4  888639929
79976      943      694       2  875502146
79977      943      910       4  875501813
79978      943      700       3  888640227
79979      943      953       2  888640088
79980      943      721       3  888640143
79981      943     1105       3  888640311
79982      943      730       4  888639868
79984      943     1077       4  875502483
79985      943      746       3  875502283
79986      943      750       2  875502283
79987      943      757       4  888693104
79988      943      877       5  875502074
79989      943      954       1  888639725
79990      943      840       5  888639614
79991      943     1008       2  875502560
79992      943      943       2  875502096
79993      943      958       3  888639903
79994      943     1004       2  875502146
79995      943     1061       2  875501756
79996      943      988       4  888640250
79997      943     1119       3  888640250
79998      943     1167       3  888640275

[74549 rows x 4 columns]

In [214]:
aab=list(aaa['user_id']>min_ratings]['item_id'])
aab

SyntaxError: invalid syntax (<ipython-input-214-df6e3bc7155e>, line 1)

## 2.3 Highest mean rating movie

In [248]:
# obtain the highest rated movies, with a minium number of users/ratings.
min_ratings = 50

aaa=train.groupby('item_id')['user_id'].count().reset_index()


NewtRated = (train[train['item_id'].isin(aaa[aaa['user_id']>min_ratings]['item_id'])]
    .groupby('item_id')['user_id']
    .count()
    .sort_values(ascending=False)
    .reset_index()
    .apply(add_tile, axis=1))
mosPostRated.head(10)

      id                                              title      freq
0   93.0  b'Wallace & Gromit: The Best of Aardman Animat...  4.538462
1  252.0                         b"Schindler's List (1993)"  4.512821
2  816.0                           b'Close Shave, A (1995)'  4.511364
3  136.0                      b'Wrong Trousers, The (1993)'  4.490196
4  410.0                               b'Casablanca (1942)'  4.470270
5   49.0                b'Shawshank Redemption, The (1994)'  4.466667
6  597.0                              b'Rear Window (1954)'  4.413174
7    7.0                      b'Usual Suspects, The (1995)'  4.395122
8  143.0                             b'12 Angry Men (1957)'  4.377358
9   36.0                                b'Star Wars (1977)'  4.364425

In [249]:
min_ratings = 20

mosPostRated = (train
    .groupby('item_id')['rating'].agg(list)
    .apply(lambda l: np.mean(l) if len(l)>=min_ratings else 0.0)
    .sort_values(ascending=False)
    .reset_index()
    .apply(add_tile, axis=1))
mosPostRated.head(10)

      id                                              title      freq
0   93.0  b'Wallace & Gromit: The Best of Aardman Animat...  4.538462
1  252.0                         b"Schindler's List (1993)"  4.512821
2  816.0                           b'Close Shave, A (1995)'  4.511364
3  136.0                      b'Wrong Trousers, The (1993)'  4.490196
4  410.0                               b'Casablanca (1942)'  4.470270
5   49.0                b'Shawshank Redemption, The (1994)'  4.466667
6  597.0                              b'Rear Window (1954)'  4.413174
7    7.0                      b'Usual Suspects, The (1995)'  4.395122
8  143.0                             b'12 Angry Men (1957)'  4.377358
9   36.0                                b'Star Wars (1977)'  4.364425

<div class  = "alert alert-info"> 
** QUESTION **: set the value of *min_ratings* to 1, and re-run the cell. What happens now? Change this value
</div>

<div class  = "alert alert-info"> 
** QUESTION **: Which method is better?? How to measure a recommender system? 
</div>

<div class  = "alert alert-info"> 
** IMPORTANT QUESTION **: When might be useful to recommend popular items?
</div>

<a id='metrics'></a>
## 3. Metrics for recommender systems

As we have seen, even with the simplest solution --aka, recommending popular items-- is difficult to known which technique performs better. For this, there are a number of metrics that allow one to measure the goodness of a recommender system. 

Metrics can be design for measuring the relevance or accuracy of a recommendation, but they can be created for evaluating the novelty of a recommendation, or its diversity. 

For now, we will focus on relevance and accuracy. Several metrics exist:
* Accuracy: rmse, mae.
* Not ranked: Recall@k, Precision@k.
* With rank disccount: map@k, ndcg@k.
* With rank ordering: mean percentile rank.

We will be definiing some of them whitin this class. For the moment, let's talk about precision and recall.

## 3.1 Precision and recall

<img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Precisionrecall.svg" alt="Precision and Recall in IR" style="float: right; width: 300px"/>

The concept of precision and recall comes form the world of information retrieval, have a look at the wikipedia:

https://en.wikipedia.org/wiki/Precision_and_recall

From this entry:

 * "**precision** (also called positive predictive value) is the fraction of retrieved instances that are relevant".
 * "**recall** (also known as sensitivity) is the fraction of relevant instances that are retrieved".

<br />
<div class  = "alert alert-info"> 
** QUESTION **: how do we know if some movie, unknown to the user, is relevant?
</div>

In other words, we cannot measure a false positive --something recommended that was not relevant--. In this regard, only recall-oriented metrics have an actual meaning in RS. Nonetheless, its common practice to define both metrics in RS as follows:
 
### $$\mathrm{recall}@N = \frac{\sum_{k=1}^N rel(k)}{\sum_{i\in \mathcal{I}_u} 1}$$
### $$\mathrm{precision}@N = \frac{\sum_{k=1}^N rel(k)}{N}$$

Here, $\mathcal{I}_u$ is the set of items adopted by user $u$, and $rel(k)$ is the relevance of a recommendation at position k in the list of recommendations. For ratings, the relevance could be defined as those movies rated above a certain threshold, e.g. $r_{ui}>4.0$. 

**Important to note: since precision is pretty much the same as recall in RS, metrcis usch as the *area under the ROC curve* doesn't have any meaning!!**

<div class = "alert alert-success">
As an example, consider a user that watched the following films:
<br /><br />
'Designated Mourner, The (1997)'
<br />
'Money Talks (1997)'
<br />
'Madame Butterfly (1995)'
<br />
'Batman Forever (1995)'
<br /><br />
The recommended items were: 
<br /><br />
'Batman (1989)' 
<br />
'Madame Butterfly (1995)'
<br /><br />
**What would be the recall and precision @1? and @2?**
<br />
**What do you think of recommending Batman? Is a bad or a good recommendation?**
</div>

Please notice that there isn't any actual difference between precision and recall in the context of RS: both measure the relevance of the recommendations, and tell nothing about items recommended that haven't been adopted by the user. Thus, it make sense to define a normalized recall as:

### $$\mathrm{recall}@N = \frac{\sum_{i=1}^N rel_i}{\mathrm{min}(N, \sum_{i\in \mathcal{I}_u} 1})$$

This way, results are normalized to 1 always.

<div class="alert alert-success">
**Exercise** Implement the above definition of recall
</div>

In [251]:
def recall_at_n(N, test, recommended, train=None):
    """
    :param N: number of recommendations
    :param test: list of movies seen by user in test
    :param train: list of movies seen by user in train. This has to be removed from the recommended list 
    :param recommended: list of movies recommended
    
    :return the recall
    """
    if train is not None: # Remove items in train
        rec_true = []
        for r in recommended:
            if r not in train:
                rec_true.append(r)
    else:
        rec_true = recommended    
    intersection = len(set(rec_true[:N]) & set (test))
    return intersection / float(np.minimum(N, len(test)))

In [252]:
seen = ['Designated Mourner, The (1997)', 'Money Talks (1997)', 'Madame Butterfly (1995)', 'Batman Forever (1995)']
recommended = ['Batman (1989)', 'Madame Butterfly (1995)']

In [253]:
recall_at_n(1, seen, recommended)

0.0

In [254]:
recall_at_n(2, seen, recommended)

0.5

In [255]:
# Check it's well normalized
print(recall_at_n(3, seen, recommended))
print(recall_at_n(10, seen, recommended))
print(recall_at_n(100, seen, recommended))

0.3333333333333333
0.25
0.25

### Now, use this implementation to measure the efficiency of the popularity baselines in the test set. Use the top-5 movies, for instance

In [256]:
train.groupby('user_id')['item_id'].agg(list)

user_id
1      [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
2      [8, 14, 36, 80, 105, 218, 202, 206, 219, 220, ...
3      [199, 213, 250, 217, 251, 237, 238, 242, 252, ...
4      [6, 36, 209, 213, 230, 251, 239, 235, 255, 258...
5      [289, 290, 12, 17, 291, 28, 48, 292, 51, 53, 6...
6      [289, 4, 373, 374, 9, 10, 14, 16, 20, 375, 42,...
7      [1, 4, 373, 374, 5, 6, 7, 447, 18, 20, 22, 375...
8      [4, 6, 447, 36, 41, 42, 62, 293, 77, 105, 295,...
9      [3, 4, 36, 161, 196, 229, 236, 268, 586, 321, ...
10     [289, 1, 4, 374, 7, 8, 11, 447, 16, 291, 34, 4...
11     [373, 374, 6, 7, 10, 447, 18, 20, 21, 619, 291...
12     [1, 10, 20, 36, 53, 55, 65, 71, 77, 78, 79, 10...
13     [290, 373, 374, 6, 9, 665, 447, 17, 18, 19, 20...
14     [4, 374, 8, 9, 10, 13, 14, 447, 16, 18, 28, 36...
15     [289, 4, 374, 13, 15, 18, 90, 99, 103, 105, 11...
16     [4, 373, 374, 10, 447, 19, 20, 22, 23, 26, 37,...
17     [289, 4, 374, 8, 80, 90, 103, 104, 120, 178, 1...
18     [289, 373, 7, 8, 9, 10, 14, 447, 16, 18, 844, ...
19     [1, 373, 122, 161, 162, 207, 251, 672, 246, 31...
20     [289, 6, 10, 447, 36, 53, 65, 70, 76, 79, 97, ...
21     [289, 374, 10, 36, 39, 42, 79, 80, 83, 85, 97,...
22     [290, 1, 12, 21, 36, 48, 448, 62, 63, 293, 77,...
23     [289, 373, 8, 20, 375, 36, 41, 42, 45, 48, 54,...
24     [4, 374, 7, 18, 42, 44, 49, 55, 62, 74, 78, 79...
25     [289, 4, 373, 8, 16, 18, 36, 62, 65, 69, 79, 9...
26     [4, 374, 8, 10, 18, 80, 90, 95, 96, 100, 103, ...
27     [80, 99, 101, 383, 226, 230, 871, 236, 256, 30...
28     [2, 4, 7, 20, 22, 36, 54, 62, 293, 76, 77, 79,...
29     [7, 79, 144, 145, 151, 199, 208, 213, 383, 220...
30     [4, 20, 21, 36, 53, 65, 378, 129, 132, 298, 18...
                             ...
914    [71, 90, 124, 381, 174, 246, 586, 660, 323, 33...
915    [207, 383, 669, 229, 230, 238, 239, 240, 241, ...
916    [289, 290, 0, 1, 2, 4, 374, 6, 7, 9, 12, 447, ...
917    [289, 0, 374, 18, 36, 80, 99, 119, 218, 383, 2...
918    [289, 11, 18, 20, 28, 31, 49, 53, 54, 56, 65, ...
919    [289, 1, 2, 4, 374, 6, 7, 9, 10, 11, 14, 15, 6...
920    [199, 207, 383, 669, 217, 229, 230, 233, 237, ...
921    [289, 373, 10, 17, 18, 36, 51, 53, 55, 56, 62,...
922    [289, 6, 10, 447, 21, 29, 36, 37, 42, 48, 292,...
923    [289, 0, 374, 36, 80, 294, 96, 99, 103, 107, 1...
924    [289, 290, 3, 4, 374, 7, 8, 20, 22, 36, 42, 49...
925    [2, 42, 79, 148, 160, 175, 176, 177, 199, 209,...
926    [218, 199, 207, 211, 220, 217, 229, 230, 231, ...
927    [289, 4, 373, 6, 10, 17, 18, 20, 21, 619, 27, ...
928    [373, 374, 34, 79, 93, 105, 110, 378, 133, 135...
929    [289, 7, 447, 16, 20, 22, 375, 36, 42, 293, 79...
930    [289, 373, 9, 11, 17, 31, 36, 49, 80, 85, 86, ...
931    [9, 36, 80, 90, 95, 99, 103, 104, 105, 111, 29...
932    [289, 4, 374, 9, 1023, 619, 31, 33, 40, 41, 42...
933    [289, 1, 4, 374, 6, 7, 665, 447, 18, 20, 619, ...
934    [289, 290, 1, 8, 18, 36, 42, 50, 51, 52, 53, 5...
935    [289, 374, 10, 80, 96, 97, 98, 99, 103, 105, 1...
936    [289, 0, 3, 4, 374, 8, 9, 11, 14, 15, 17, 18, ...
937    [374, 9, 14, 36, 449, 80, 95, 102, 104, 111, 1...
938    [289, 4, 374, 10, 18, 36, 80, 294, 85, 90, 96,...
939    [374, 10, 85, 97, 99, 105, 822, 179, 218, 203,...
940    [1, 4, 373, 374, 7, 9, 33, 36, 42, 51, 53, 54,...
941    [289, 4, 10, 96, 102, 667, 298, 179, 219, 207,...
942    [22, 36, 55, 62, 76, 78, 589, 96, 102, 376, 37...
943    [290, 374, 6, 7, 447, 16, 17, 19, 20, 22, 619,...
Name: item_id, Length: 943, dtype: object

In [260]:
train_grouped_user=train.groupby('user_id')['item_id'].apply(list).reset_index()
test_grouped_user=test.groupby('user_id')['item_id'].apply(list).reset_index()

In [263]:
pd.merge(train_grouped_user,test_grouped_user, on='user_id', how='inner')

,user_id,item_id_x,item_id_y
0,1,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[289, 290, 373, 374, 665, 447, 844, 1023, 375,..."
1,2,"[8, 14, 36, 80, 105, 218, 202, 206, 219, 220, ...","[289, 5, 9, 18, 90, 196, 207, 453, 384, 620, 6..."
2,3,"[199, 213, 250, 217, 251, 237, 238, 242, 252, ...","[298, 207, 209, 383, 230, 240, 235, 387, 673, ..."
3,4,"[6, 36, 209, 213, 230, 251, 239, 235, 255, 258...","[169, 207, 250, 238, 259, 275]"
4,5,"[289, 290, 12, 17, 291, 28, 48, 292, 51, 53, 6...","[665, 18, 21, 36, 54, 76, 589, 81, 378, 120, 1..."
5,6,"[289, 4, 373, 374, 9, 10, 14, 16, 20, 375, 42,...","[7, 8, 665, 447, 33, 36, 49, 111, 133, 451, 13..."
6,7,"[1, 4, 373, 374, 5, 6, 7, 447, 18, 20, 22, 375...","[16, 19, 21, 33, 37, 42, 48, 49, 60, 63, 73, 7..."
7,8,"[4, 6, 447, 36, 41, 42, 62, 293, 77, 105, 295,...","[65, 140, 156, 185, 186, 190, 195, 208, 453, 2..."
8,9,"[3, 4, 36, 161, 196, 229, 236, 268, 586, 321, ...","[384, 251, 333, 410, 525, 627]"
9,10,"[289, 1, 4, 374, 7, 8, 11, 447, 16, 291, 34, 4...","[6, 375, 23, 36, 65, 95, 107, 110, 111, 126, 1..."
10,11,"[373, 374, 6, 7, 10, 447, 18, 20, 21, 619, 291...","[17, 26, 42, 43, 53, 54, 62, 69, 79, 135, 144,..."
11,12,"[1, 10, 20, 36, 53, 55, 65, 71, 77, 78, 79, 10...","[377, 127, 135, 137, 156, 162, 174, 196, 845, ..."
12,13,"[290, 373, 374, 6, 9, 665, 447, 17, 18, 19, 20...","[289, 1, 2, 4, 7, 8, 12, 16, 375, 37, 448, 62,..."
13,14,"[4, 374, 8, 9, 10, 13, 14, 447, 16, 18, 28, 36...","[7, 375, 77, 102, 105, 169, 179, 193, 230, 253..."
14,15,"[289, 4, 374, 13, 15, 18, 90, 99, 103, 105, 11...","[8, 9, 10, 36, 97, 298, 191, 197, 200, 202, 20..."
15,16,"[4, 373, 374, 10, 447, 19, 20, 22, 23, 26, 37,...","[289, 1, 6, 7, 44, 62, 76, 88, 115, 160, 164, ..."
16,17,"[289, 4, 374, 8, 80, 90, 103, 104, 120, 178, 1...","[96, 111, 119, 229, 251, 254]"
17,18,"[289, 373, 7, 8, 9, 10, 14, 447, 16, 18, 844, ...","[1, 3, 374, 28, 31, 46, 47, 50, 51, 62, 73, 75..."
18,19,"[1, 373, 122, 161, 162, 207, 251, 672, 246, 31...","[169, 299, 383, 230, 253, 256, 788]"
19,20,"[289, 6, 10, 447, 36, 53, 65, 70, 76, 79, 97, ...","[75, 120, 140, 298, 169, 283, 349, 421, 596, 9..."
20,21,"[289, 374, 10, 36, 39, 42, 79, 80, 83, 85, 97,...","[2, 4, 12, 101, 116, 160, 161, 194, 197, 198, ..."
21,22,"[290, 1, 12, 21, 36, 48, 448, 62, 63, 293, 77,...","[665, 17, 39, 68, 75, 294, 88, 131, 134, 141, ..."
22,23,"[289, 373, 8, 20, 375, 36, 41, 42, 45, 48, 54,...","[4, 9, 14, 62, 65, 73, 76, 80, 102, 109, 110, ..."
23,24,"[4, 374, 7, 18, 42, 44, 49, 55, 62, 74, 78, 79...","[373, 6, 27, 41, 53, 105, 296, 297, 144, 160, ..."
24,25,"[289, 4, 373, 8, 16, 18, 36, 62, 65, 69, 79, 9...","[95, 376, 450, 115, 149, 156, 214, 402, 407, 4..."
25,26,"[4, 374, 8, 10, 18, 80, 90, 95, 96, 100, 103, ...","[289, 9, 17, 36, 88, 97, 99, 104, 107, 120, 29..."
26,27,"[80, 99, 101, 383, 226, 230, 871, 236, 256, 30...","[374, 36, 97, 117, 198, 229]"
27,28,"[2, 4, 7, 20, 22, 36, 54, 62, 293, 76, 77, 79,...","[6, 42, 96, 132, 297, 156, 160, 184, 229, 254,..."
28,29,"[7, 79, 144, 145, 151, 199, 208, 213, 383, 220...","[62, 229, 238, 408, 564, 965]"
29,30,"[4, 20, 21, 36, 53, 65, 378, 129, 132, 298, 18...","[290, 139, 140, 196, 207, 208, 241, 248, 779, ..."
...,...,...,...
623,624,"[289, 0, 4, 9, 10, 17, 18, 449, 80, 87, 90, 96...","[36, 111, 211, 250, 217, 223, 258, 273, 400, 8..."
624,625,"[1, 447, 16, 18, 36, 54, 73, 76, 78, 80, 99, 1...","[77, 120, 451, 139, 168, 207, 353, 517, 688, 6..."
625,626,"[197, 207, 213, 215, 383, 669, 217, 229, 231, ...","[230, 255]"
626,627,"[290, 1, 4, 374, 6, 7, 12, 447, 16, 19, 20, 23...","[844, 78, 295, 126, 130, 141, 452, 169, 226, 2..."
627,628,"[373, 296, 196, 207, 230, 233, 251, 238, 239, ...","[135, 669, 240, 260]"
628,629,"[1, 4, 6, 7, 10, 447, 16, 26, 28, 36, 41, 42, ...","[374, 44, 380, 227, 439, 1031]"
629,630,"[289, 4, 374, 6, 10, 447, 22, 36, 49, 53, 54, ...","[7, 18, 96, 105, 179, 223, 251, 404, 631, 818,..."
630,631,"[230, 231, 251, 239, 242, 672, 246, 248, 254, ...","[217, 229, 273]"
631,632,"[289, 290, 4, 6, 7, 12, 447, 36, 37, 40, 41, 4...","[18, 20, 44, 55, 77, 127, 132, 150, 162, 218, ..."
632,633,"[2, 31, 36, 42, 55, 60, 62, 65, 75, 77, 78, 79...","[20, 115, 297, 230, 437, 709, 1171]"
633,634,"[289, 4, 374, 8, 9, 10, 665, 18, 36, 449, 80, ...","[102, 119, 178, 218, 453, 229, 240, 675, 389, ..."
634,635,"[289, 8, 10, 96, 119, 218, 383, 206, 211, 383,...","[251, 238, 779]"
635,636,"[289, 374, 5, 10, 18, 80, 85, 97, 99, 191, 207...","[179, 683]"
636,637,"[289, 4, 374, 8, 10, 17, 18, 36, 449, 90, 96, ...","[80, 225, 302, 873, 627, 1151, 750]"
637,638,"[1, 447, 21, 48, 65, 293, 77, 79, 80, 96, 97, ...","[36, 105, 129, 146, 590, 339, 401, 487]"
638,639,"[7, 9, 14, 20, 34, 37, 38, 43, 45, 46, 47, 51,...","[44, 71, 451, 137, 196, 385, 392, 413, 414, 43..."
639,640,"[290, 1, 7, 9, 447, 23, 28, 33, 41, 42, 48, 49...","[6, 619, 39, 296, 164, 301, 321, 642, 954]"
640,642,"[289, 290, 1, 373, 8, 10, 665, 447, 20, 21, 24...","[619, 36, 54, 56, 78, 294, 109, 377, 378, 120,..."
641,643,"[289, 290, 1, 2, 4, 6, 7, 16, 17, 20, 21, 375,...","[42, 115, 123, 151, 186, 345, 481, 572, 1090, ..."
642,644,"[96, 99, 103, 105, 298, 218, 197, 201, 206, 20...","[36, 80, 219, 251, 238, 656, 745]"
643,645,"[1, 6, 447, 16, 20, 1023, 375, 26, 32, 33, 34,...","[53, 452, 576, 656]"
644,647,"[10, 447, 21, 54, 55, 56, 57, 60, 62, 65, 71, ...","[257, 487, 656]"
645,648,"[289, 290, 1, 2, 4, 374, 8, 9, 10, 12, 665, 44...","[53, 77, 294, 123, 150, 590, 230, 236, 241, 67..."
646,649,"[10, 17, 36, 96, 99, 105, 667, 298, 201, 203, ...",[289]
647,650,"[289, 290, 1, 4, 10, 665, 447, 16, 18, 19, 21,...","[381, 386, 472, 430, 1136, 536, 655, 1163, 1542]"
648,651,"[95, 105, 196, 383, 220, 384, 228, 229, 251, 2...","[233, 385]"
649,653,"[289, 290, 1, 4, 6, 10, 447, 20, 619, 28, 39, ...","[36, 132, 217, 333, 363, 495, 500, 958]"
650,654,"[289, 0, 373, 6, 7, 8, 9, 10, 447, 17, 18, 20,...","[1, 201, 207, 252, 349, 595]"
651,655,"[289, 290, 1, 2, 3, 4, 373, 374, 6, 7, 8, 10, ...","[9, 38, 39, 51, 104, 158, 181, 221, 226, 271, ..."
652,658,"[289, 4, 373, 374, 447, 17, 22, 375, 28, 31, 3...",[384]

In [ ]:
mostRatedMovies[:5,1:]

In [ ]:
positiveRatedMovies[:5,1:]

In [ ]:
meanRateMovies[:5,1:]

In [ ]:
train.head()

*Since `recall_at_n` takes both train and test list per user, we need to create a dataset with the list of movies seen in train and test*

Thus, get the list of movies per user in train and test, and join the two dataframes. For the join, use the pandas method `merge`.

In [ ]:
# get movies in train per user. For this, group by user and get a list of item ids.
trainUsersGrouped = ?

In [ ]:
# same with test data
testUsersGrouped = ?

In [ ]:
# make the join: use pandas merge method
joined = ?

In [ ]:
joined.head()

In [ ]:
joined.item_id_test.head()

In [ ]:
# How would you access values in test?
?

In [ ]:
# This second method is easier if we want to access several columns at once, and operate over them.
# For instance, if we like to concatenate both train and test list, we will do:
?

In [ ]:
# Use the above method to calculate the recall of the mostRatedMovies recommendation, for each user:
?

*As you can see, some users have a quite large recall (0.5), while for others is small (e.g, 0.14). Let's calculate the mean.*

In [ ]:
topN = 30
# calculate the average recall across all users for mostRatedMovies recommendation
recall_per_user = ?
recall_per_user.mean()

In [ ]:
# calculate the average recall across all users for positiveRatedMovies recommendation
?

In [ ]:
# calculate the average recall across all users for meanRatedMovies recommendation
?

## 3.2 Mean Averaged Precision (MAP) -- Advanced material

Previous metrics did not account for the ranking of the recommendation, i.e. the relative position of a movie within the sorted list of recommendations. **But orders matters!** Metrics like MAP, MRR or NDCG try to tackle down this problem. 

From the blog *http://fastml.com/what-you-wanted-to-know-about-mean-average-precision/*:

> Here’s another way to understand average precision. Wikipedia says AP is used to score document retrieval. You can think of it this way: you type something in Google and it shows you 10 results. It’s probably best if all of them were relevant. If only some are relevant, say five of them, then it’s much better if the relevant ones are shown first. It would be bad if first five were irrelevant and good ones only started from sixth, wouldn’t it? AP score reflects this.

Implementation taken from:

https://github.com/benhamner/Metrics/blob/master/Python/ml_metrics/average_precision.py

## Average Precision 

The Average Precision is definied as:

### $$\mathrm{AP}@N = \frac{\sum_{k=1}^N P(k) \times rel(k)}{\mathrm{min}(N, \sum_{i\in \mathcal{I}_u} 1)}$$

where $P(k)$ is the precision at cut-off in the item list, i.e. the ratio of the number of recommended items adopted, up to the position k, over the number k. Thus:

### $$\mathrm{AP}@N = \frac{\sum_{k=1}^N \left(\sum_{i=1}^k rel(i)\right)/k \times rel(k)}{\mathrm{min}(N, \sum_{i\in \mathcal{I}_u} 1)}$$

<div class = "alert alert-success">
Following the example above, consider a user that watched the following films:
<br /><br />
'Designated Mourner, The (1997)'
<br />
'Money Talks (1997)'
<br />
'Madame Butterfly (1995)'
<br />
'Batman Forever (1995)'
<br /><br />
The recommended items were: 
<br /><br />
'Batman (1989)' 
<br />
'Madame Butterfly (1995)'
<br /><br />

<div class = "alert alert-success">
**Calculate AP@1**
<br /><br />
First, *rel(1)=0*, because Batman was not viewed. Also, *P(1) = 0*. Thus, AP@1=0.
<br />
**Calculate AP@2**
<br /><br />
As before, *rel(1)=0*, so the first term does not contribute. For the second term, *rel(2)=1*, so that *P(2)=0.5*. The numerator is hence:
<br /><br />
$P(1)*rel(1)+P(2)*rel(2)=0*0+0.5*1$
<br /><br />
For the denominator, $N=2$ and $\sum_{i\in \mathcal{I}_u} 1)=4$, thus:
<br /><br />
AP@2 = 0.5/2 = 0.25
</div>

Let's now implement it =)

In [ ]:
def apk(N, test, recommended, train=None):
    """
    Computes the average precision at N given recommendations.
    
    :param N: number of recommendations
    :param test: list of movies seen by user in test
    :param train: list of movies seen by user in train. This has to be removed from the recommended list 
    :param recommended: list of movies recommended
    
    :return The average precision at N over the test set
    """
    if train is not None: 
        rec_true = []
        for r in recommended:
            if r not in train:
                rec_true.append(r)
    else:
        rec_true = recommended    
    predicted = rec_true[:N] # top-k predictions
    
    score = 0.0 # This will store the numerator
    num_hits = 0.0 # This will store the sum of rel(i)

    for i,p in enumerate(predicted):
        if p in test and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits/(i+1.0)

    return score / min(len(test), N)

In [ ]:
seen = ['Designated Mourner, The (1997)', 'Money Talks (1997)', 'Madame Butterfly (1995)', 'Batman Forever (1995)']
recommended = ['Madame Butterfly (1995)', 'Batman (1989)']

In [ ]:
apk(1, seen, recommended)

In [ ]:
apk(2, seen, recommended)

In [ ]:
apk(3, seen, recommended)

## MAP

Mean avergae precision is nothing else than the AP averaged across users ;)

Apply it to popularity baselines

In [ ]:
?

<div class="alert alert-success">
The rest of the class is covered in a different notebook
</div>