In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# INTRODUCCIÓN:

## CLASES Y OBJETOS:

In [34]:
class perro():
    def __init__ (self, name):
        self.name = name
        self.color ='marron'
        self.size= 5
        self.alive= True
    
    def ladrar(self):
        if self.alive:
            print('guau')
        else:
            print('está muerto, imbécil')

In [35]:
tobby=perro('Tobby')
lassie=perro('Lassie')

In [36]:
tobby.name

'Tobby'

In [37]:
tobby.alive

True

In [38]:
tobby.ladrar()

guau

In [39]:
tobby.alive=False

In [40]:
tobby.ladrar()

está muerto, imbécil

In [ ]:
np.random.

In [41]:
class hombre():
    def __init__ (self, name):
        self.name = name

In [42]:
el_hombre=hombre('el_hombre')

In [43]:
el_hombre.name

'el_hombre'

# Loading CSV

In [3]:
! ls /home/dsc/Data/opentraveldata/python_class/001_NUEVO

#Ejercicios_pandas_alumno.ipynb

Ejercicios_pandas_alumno.ipynb

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [45]:
data = seaborn.load_dataset('diamonds')

In [46]:
subdata=data.head(1000)

In [48]:
subdata.to_csv('./ejemplo_csv.csv',decimal=',', sep='|')

In [49]:
pwd

'/home/dsc/Data/opentraveldata/python_class/000_DANI_MATEOS'

In [54]:
pd.read_csv('./ejemplo_csv.csv',decimal=',', sep='|', index_col='carat', nrows=10)

,Unnamed: 0,cut,color,clarity,depth,table,price,x,y,z
carat,,,,,,,,,,
0.23,0,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
0.21,1,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
0.23,2,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
0.29,3,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
0.31,4,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
0.24,5,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
0.24,6,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
0.26,7,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
0.22,8,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
0.23,9,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

In [59]:
i=list(range(1,10))

In [60]:
for a, b in enumerate(i):
    print(a,b)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [73]:
a=pd.read_csv('./ejemplo_csv.csv',decimal=',', sep='|', index_col='carat', chunksize=100)
a

In [74]:
for i, j in enumerate(a):
    print(j.head(1))
    print(i)

       Unnamed: 0    cut color clarity  depth  table  price     x     y     z
carat
0.23            0  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
0
       Unnamed: 0        cut color clarity  depth  table  price    x     y  \
carat
0.75          100  Very Good     D     SI1   63.2   56.0   2760  5.8  5.75

          z
carat
0.75   3.65
1
       Unnamed: 0        cut color clarity  depth  table  price     x    y  \
carat
0.7           200  Very Good     E     SI1   59.9   63.0   2777  5.76  5.7

          z
carat
0.7    3.43
2
       Unnamed: 0    cut color clarity  depth  table  price     x     y     z
carat
0.77          300  Ideal     I     VS1   61.5   59.0   2798  5.87  5.91  3.62
3
       Unnamed: 0   cut color clarity  depth  table  price     x    y    z
carat
0.3           400  Good     H     SI1   63.8   55.0    554  4.26  4.2  2.7
4
       Unnamed: 0    cut color clarity  depth  table  price     x     y     z
carat
0.71          500  Ideal     D     SI1   60.2   56.0   2822  5.86  5.83  3.52
5
       Unnamed: 0      cut color clarity  depth  table  price     x     y  \
carat
0.7           600  Premium     F     VS2   59.4   61.0   2838  5.83  5.79

          z
carat
0.7    3.45
6
       Unnamed: 0        cut color clarity  depth  table  price     x    y  \
carat
0.7           700  Very Good     E     VS1   62.4   56.0   2854  5.64  5.7

          z
carat
0.7    3.54
7
       Unnamed: 0      cut color clarity  depth  table  price     x     y  \
carat
1.22          800  Premium     E      I1   60.9   57.0   2862  6.93  6.88

          z
carat
1.22   4.21
8
       Unnamed: 0      cut color clarity  depth  table  price     x     y  \
carat
0.73          900  Premium     E     VS1   62.6   60.0   2876  5.68  5.75

          z
carat
0.73   3.58
9

# Saving to Excel

# Saving to CSV

# To Sql Database

# To dictionary and to json

# Reading Excel

#### Exercise

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the value of 'YEAR' from.

# Reading mysql database